:root{
    --color_background_light: rgb(100, 141, 229);
    --color_background_dark: rgb(59, 113, 147);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
.container-fluid{
    padding: 30px 250px;
}
.text-background{
    color: var(--color_background_light);
}
.text-background-dark{
    color: rgb(12, 83, 128);
}
.body-background-dark{
    background-color: rgb(15, 67, 100);
}
.bg-background-light{
    background-color: var(--color_background_light);
}
.bg-background-dark{
    background-color: var(--color_background_dark);
}
.detail{
    height: 350px;
}
#weather_main{
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 3px;
}
#temperature{
    font-size: 95px;
    font-weight: 700;
    line-height: .8;
    margin-bottom: 20px;
    transform: translateX(-5%);
}
#location{
    font-size: 20px;
    font-weight: 450;
    margin: 0;
    line-height: .8;
    text-wrap: nowrap;
}
#message{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}
.daily_nav{
    height: 120px;
}
.daily_nav>div>div{
    height: 74%;
}
.today-light{
    background-color: rgb(241, 245, 255);
}
.today-dark{
    background-color: rgb(92, 149, 185);
}
.name-daily{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4px;
}
.max_temp_daily{
    font-weight: 600;
    font-size: 15px;
}
.min_temp_daily{
    font-weight: 600;
    font-size: 15px;
    opacity: 0.7;
}
.container-canvas {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
}
canvas {
    display: block;
    width: 95%;
    height: 100%;
}
.text-inherit{
    color: inherit;
}
.bg-inherit{
    background-color: inherit;
}